/* Recipe Card Css */

.card-title {
    text-decoration: underline;
}

/* Recipe Card Ended */
/* Nav & Footer CSS */

nav, .page-footer {
    background-color: #303030;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

h5 {
    text-decoration: underline;
}

/* Nav & Footer Ended */