/* Recipe Card Css */

.card-title {
    text-decoration: underline;
}

/* Recipe Card Ended */
/* Nav & Footer CSS */

nav, .page-footer {
    background-color: #303030;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

h5 {
    text-decoration: underline;
}

/* Nav & Footer Ended */
/* About-Us Page */

.about-page{
    text-align: center;
}

.about-1{
    border: 1px solid black;
}

/* About End */

/* Add recipe page */

.add_rep_top{
    padding-top: 10px;
}

/* Navbar */

.nav-1 {
    width: 100%;
    height: 55px;
    background-color: #545454;
    text-align: center;
}

.nav-2 {
    width: 100%;
    height: 40px;
    background-color: #686868;
}

body {
  font-family: "Lato", sans-serif;
}

.openbutton {
    color: #ffffff;
    font-size: 26px;
    padding: 5px;
}
